@charset "UTF-8";
main {
  display: flex;
}

.App-header {
  right: 0;
  height: 50px;
  background-color: #3c8dbc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.App-header h1 {
  font-size: 20px;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  color: aliceblue;
  background: #357ca5;
  display: inline-block;
  height: 50px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.65vw;
}
.App-header h1 span {
  font-weight: 400;
}
.App-header > i {
  color: white;
  font-size: 15px;
  margin-left: -900px;
  font-weight: bold;
}
.App-header .App-header__group {
  display: flex;
  gap: 10px;
  align-items: center;
}
.App-header .App-header__group i {
  color: white;
  font-size: 15px;
  padding-right: 15px;
}
.App-header .App-header__group .notification,
.App-header .App-header__group .Flag,
.App-header .App-header__group .letter {
  position: relative;
}
.App-header .App-header__group .notification .badge.noti,
.App-header .App-header__group .Flag .badge.noti,
.App-header .App-header__group .letter .badge.noti {
  position: absolute;
  top: -8px;
  right: 5px;
  background-color: #f39c12;
  color: white;
  border-radius: 5px;
  padding: 2px 4px;
  font-size: 8px;
  text-align: center;
  font-weight: bold;
}
.App-header .App-header__group .notification .badge.flag,
.App-header .App-header__group .Flag .badge.flag,
.App-header .App-header__group .letter .badge.flag {
  position: absolute;
  top: -8px;
  right: 5px;
  background-color: red;
  color: white;
  border-radius: 5px;
  padding: 2px 4px;
  font-size: 8px;
  text-align: center;
  font-weight: bold;
}
.App-header .App-header__group .notification .badge.let,
.App-header .App-header__group .Flag .badge.let,
.App-header .App-header__group .letter .badge.let {
  position: absolute;
  top: -8px;
  right: 5px;
  background-color: #5cb85c;
  color: white;
  border-radius: 5px;
  padding: 2px 4px;
  font-size: 8px;
  text-align: center;
  font-weight: bold;
}
.App-header .App-header__group .avatar {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
  gap: 10px;
}
.App-header .App-header__group .avatar img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-top: 10px;
}
.App-header .App-header__group .avatar span {
  color: white;
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
  font-weight: 500;
}

.sidebar {
  width: 15vw;
  background-color: #222d32;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.sidebar .group {
  padding-bottom: 20px;
}
.sidebar .group .group_user {
  margin-top: 10px;
  display: flex;
  padding-left: 10px;
  align-items: center;
  gap: 15px;
}
.sidebar .group .group_user img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.sidebar .group .group_user span {
  margin-top: 5px;
  color: #fff;
  display: block;
  font-size: 14px;
  padding-bottom: 5px;
  font-weight: bold;
}
.sidebar .group .group_user .status {
  font-size: 12px;
  position: relative;
  padding-left: 18px;
  margin-top: 0;
  font-weight: normal;
}
.sidebar .group .group_user .status::before {
  content: "";
  width: 9px;
  height: 9px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  left: 2px;
  top: 4px;
}
.sidebar .group .inputPlace {
  display: flex;
  width: 100%;
  margin-top: 20px;
  border: 1px solid transparent;
  position: relative;
}
.sidebar .group .inputPlace input {
  width: 90%;
  align-self: center;
  margin-left: 7px;
  padding-left: 5px;
  height: 35px;
  border-radius: 3px;
  background: #374850;
  border: none;
}
.sidebar .group .inputPlace input::-moz-placeholder {
  color: #999;
  font-style: normal;
  font-size: 14px;
  padding-left: 10px;
}
.sidebar .group .inputPlace input::placeholder {
  color: #999;
  font-style: normal;
  font-size: 14px;
  padding-left: 10px;
}
.sidebar .group .inputPlace i {
  position: absolute;
  left: 195px;
  top: 12px;
  font-size: 14px;
  color: #999;
}
.sidebar .group .navigation h4 {
  padding-left: 12px;
  color: #4b646f;
  background-color: #1a2226;
  height: 40px;
  text-align: center;
  align-content: center;
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: normal;
}
.sidebar .listFunction {
  width: 100%;
  color: #b8c7ce;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  padding: auto;
  margin: auto;
}
.sidebar .listFunction .function {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 40px;
  align-self: center;
  padding-bottom: 25px;
  width: 85%;
  margin-left: 10px;
  margin-right: 10px;
}
.sidebar .listFunction .function .main {
  display: flex;
  gap: 10px;
  align-items: center;
  align-content: center;
}
.sidebar .listFunction .function i {
  font-size: 14px;
  margin-top: 2px;
}
.sidebar .listFunction .function > i {
  font-size: 10px;
  margin-top: 2px;
}
.sidebar .listFunction .function .layout__info {
  padding: 0px 6px;
  background-color: #3c8dbc;
  border-radius: 2px;
  text-align: center;
  align-content: center;
  font-size: 10.5px;
  color: #fff;
  font-weight: bold;
  padding-bottom: 1px;
}
.sidebar .listFunction .function .widget__info {
  padding: 0 6px;
  padding-bottom: 1px;
  background-color: #00a65a;
  border-radius: 2px;
  font-size: 10.5px;
  font-weight: bold;
  color: #fff;
}

.alert > div {
  display: inline-block;
}
.alert .blue__alert {
  padding: 1px 5px;
  background: blue;
  font-size: 9.5px;
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
}
.alert .red__alert {
  padding: 1px 5px;
  background: red;
  font-size: 9.5px;
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
  margin-left: 5px;
}
.alert .green__alert {
  padding: 1px 5px;
  background: green;
  font-size: 9.5px;
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
  margin-left: 5px;
}
.alert .yellow__alert {
  padding: 1px 5px;
  background: #f39c12;
  font-size: 9.5px;
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
  margin-left: 5px;
}

.content {
  padding: 0px 10px;
  width: 85vw;
  margin-top: -10px;
  z-index: -1;
  background-color: #ecf0f5;
}
.content h3 {
  display: inline-block;
  font-weight: 400;
  font-size: 23px;
}
.content span {
  display: inline-block;
  color: #9d9283;
}
.content .content__header {
  display: flex;
  justify-content: space-between;
}
.content .content__header .content__header--title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.content .content__header .content__header--title span {
  margin-top: 5px;
}
.content .content__header .groupp {
  display: flex;
  align-items: center;
  gap: 20px;
}
.content .content__header .groupp span {
  color: black;
  font-size: 13px;
}
.content .content__header .groupp .data__tables {
  color: #779fcc;
}
.content .content__header .home {
  display: flex;
  gap: 5px;
  align-items: center;
  color: black;
}
.content .content__header .home i {
  font-size: 13px;
  padding-top: 3px;
}
.content .tables,
.content .data__tables {
  position: relative;
}
.content .tables::before,
.content .data__tables::before {
  content: "> ";
  position: absolute;
  width: 10px;
  height: 10px;
  left: -15px;
  color: #dfdcd8;
}

.function {
  cursor: pointer;
  position: relative;
}

.function .main {
  display: flex;
  align-items: center;
}

.function__list {
  background: #000;
  position: relative;
  top: 100px;
}
.function__list ul {
  list-style-type: none;
}

.function.active .function__list {
  display: block;
}/*# sourceMappingURL=App.css.map */