.table__component {
  padding-left: 15px;
  padding-right: 25px;
  background-color: #ecf0f5;
  width: calc(100vw - 300px);
  height: 1000px;
  position: relative;
  max-width: 100%;
}
.table__component .table__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.table__component .table__header .table__header--left {
  display: flex;
  align-items: center;
}
.table__component .table__header .table__header--left h3 {
  font-size: 23px;
  font-weight: normal;
  margin-right: 10px;
}
.table__component .table__header .table__header--left span {
  margin-top: 5px;
  color: #777;
  font-size: 13.5px;
}
.table__component .table__header .table__header--right {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 11px;
}
.table__component .table__header .table__header--right > i {
  font-size: 8px;
  padding-top: 2px;
  color: #777;
}
.table__component .table__header .table__header--right > div {
  display: flex;
  gap: 6px;
  align-items: center;
}
.table__component .table__header .table__header--right > div i {
  margin-top: 4px;
  font-size: 11px;
}
.table__component .table__action {
  padding: 0;
  margin: 0;
  margin-top: 5px;
}
.table__component .table__action .table__action--right {
  padding: 0;
}
.table__component .table__action .table__action--right .table__pagination {
  padding: 0;
  align-content: center;
  display: flex;
}
.table__component .table__action .table__action--right .table__pagination .list__action {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-left: 0;
}

.Table {
  font-family: Arial, sans-serif;
  background: #ffffff;
  padding: 1px 10px;
  border-top: 3px solid #d2d6de;
  margin-top: -10px;
  border-radius: 3px;
  padding-bottom: 10px;
  font-size: 13px;
}
.Table .create-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.4s;
}
.Table .create-button:hover {
  background-color: #45a049;
}
.Table .title__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border: 1px solid #f4f4f4;
}
.table thead tr th {
  padding: 12px 10px;
}
.table tfoot tr th {
  padding: 12px 10px;
}
.table th,
.table td {
  padding: 5px 15px;
  text-align: left;
  border-bottom: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
}
.table th {
  font-weight: bold;
}
.table tbody tr:hover {
  background-color: #f5f5f5;
}
.table tfoot th {
  font-weight: bold;
}
.table__title {
  margin-bottom: 25px;
  font-size: 17px;
  font-weight: 100;
  margin-top: 10px;
  font-family: "Source Sans Pro", sans-serif;
}

.fa-solid {
  margin-left: 5px;
}

.table__action {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}
.table__action--left {
  font-size: 13px;
  color: #777777;
  margin-left: 5px;
}

.pagination__item {
  padding: 7px 12px;
  border-right: 1px solid #ccc;
  color: #777777;
  cursor: pointer;
}
.pagination__item.active {
  background-color: #337ab7;
  color: #fff;
}
.pagination__item.active:hover {
  background-color: #337ab7;
}
.pagination__item:hover {
  background-color: #ddd;
}

.previous {
  padding-right: 10px;
  color: #777777;
  font-size: 13px;
  border-right: 1px solid #d2d6de;
  padding: 7px 12px;
}

.next {
  padding-left: 10px;
  color: #777777;
  font-size: 13px;
  cursor: pointer;
  padding: 7px 12px;
  cursor: pointer;
}

tbody tr:hover {
  background-color: #d2d6de;
  transition: background-color 0.3s;
}

thead tr {
  border-bottom: 3px solid #f4f4f4;
}

.table th {
  position: relative;
}
.table th i {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  font-weight: bold;
  font-size: 15px;
}

.next:hover,
.previous:hover {
  background-color: #d2d6de;
}

@media screen and (max-width: 800px) {
  th,
  td {
    padding: 0px;
  }
  .table__component {
    width: 100%;
    padding-left: 20px;
    padding-right: 0px;
  }
  .table__component .table__header {
    display: block !important;
    width: 100%;
  }
  .table__component .table__header--right {
    margin-top: -15px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #d2d6de;
  }
  .table__component .table__header--right div i:first-child {
    padding-left: 10px;
  }
}
tbody .button-group {
  justify-content: center;
  padding: none;
  text-align: center;
}
tbody .button-group .edit-btn {
  color: #337ab7;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid transparent;
  margin-right: 10px;
}
tbody .button-group .edit-btn:hover {
  color: #fff;
  background-color: #337ab7;
  transform: scale(1.1);
}
tbody .button-group .edit-btn svg {
  font-size: 18px;
}
tbody .button-group .delete-btn {
  color: brown;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid transparent;
}
tbody .button-group .delete-btn:hover {
  color: #fff;
  background-color: #d9534f;
  transform: scale(1.1);
}
tbody .button-group .delete-btn svg {
  font-size: 18px;
}
tbody tr td {
  padding: 10px;
}

.notification-container {
  position: relative;
  top: 0;
  left: 50%;
  align-content: center;
  margin-top: 10px;
}
.notification-container .success-message {
  width: 100px;
  height: 30px;
  margin-top: -10px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

@media screen and (min-width: 700px) {
  .notification-container {
    left: 110%;
  }
}
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=table.css.map */